specVersion: 0.0.5
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum
    name: Manager
    network: {{network}}
    source:
      abi: Manager
      address: '{{manager.address}}'
      startBlock: {{manager.startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - DAO
        - AuctionSettings
      abis:
        - name: Manager
          file: ./abis/Manager.json
        - name: Token
          file: ./abis/Token.json
        - name: MetadataRendererV1
          file: ./abis/MetadataRendererV1.json
        - name: MetadataRendererBase
          file: ./abis/MetadataRendererBase.json
        - name: Auction
          file: ./abis/Auction.json
      eventHandlers:
        - event: DAODeployed(address,address,address,address,address)
          handler: handleDAODeployed
        - event: MetadataRendererUpdated(address,address)
          handler: handleDAODeployed
      file: ./src/manager.ts
templates:
  - kind: ethereum
    name: Token
    network: {{network}}
    source:
      abi: Token
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - Token
        - DAO
        - DAOTokenOwner
      abis:
        - name: Token
          file: ./abis/Token.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,indexed uint256)
          handler: handleTransfer
      file: ./src/token.ts
  - kind: ethereum
    name: Governor
    network: {{network}}
    source:
      abi: Governor
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - Proposal
        - ProposalVote
      abis:
        - name: Governor
          file: ./abis/Governor.json
        - name: Treasury
          file: ./abis/Treasury.json
      eventHandlers:
        - event: ProposalCreated(bytes32,address[],uint256[],bytes[],string,bytes32,(address,uint32,uint32,uint32,uint32,uint32,uint32,uint32,uint32,bool,bool,bool))
          handler: handleProposalCreated
        - event: ProposalQueued(bytes32,uint256)
          handler: handleProposalQueued
        - event: ProposalExecuted(bytes32)
          handler: handleProposalExecuted
        - event: ProposalCanceled(bytes32)
          handler: handleProposalCanceled
        - event: ProposalVetoed(bytes32)
          handler: handleProposalVetoed
        - event: VoteCast(address,bytes32,uint256,uint256,string)
          handler: handleVoteCast
      file: ./src/governor.ts
  - kind: ethereum
    name: MetadataRendererV1
    network: {{network}}
    source:
      abi: MetadataRendererV1
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - DAO
        - MetadataItem
        - MetadataProperty
      abis:
        - name: MetadataRendererV1
          file: ./abis/MetadataRendererV1.json
        - name: MetadataRendererBase
          file: ./abis/MetadataRendererBase.json
      eventHandlers:
        - event: ContractImageUpdated(string,string)
          handler: handleContractImageUpdated
        - event: DescriptionUpdated(string,string)
          handler: handleDescriptionUpdated
        - event: WebsiteURIUpdated(string,string)
          handler: handleWebsiteURIUpdated
      {{#callHandlers}}
      callHandlers:
        - function: addProperties(string[],(uint256,string,bool)[],(string,string))
          handler: handleAddProperties
        - function: deleteAndRecreateProperties(string[],(uint256,string,bool)[],(string,string))
          handler: handleDeleteAndRecreateProperties
      {{/callHandlers}}
      file: ./src/metadata.ts
  - kind: ethereum
    name: MetadataRendererBase
    network: {{network}}
    source:
      abi: MetadataRendererBase
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - DAO
        - MetadataItem
        - MetadataProperty
      abis:
        - name: MetadataRendererV1
          file: ./abis/MetadataRendererV1.json
        - name: MetadataRendererBase
          file: ./abis/MetadataRendererBase.json
      eventHandlers:
        - event: ContractImageUpdated(string,string)
          handler: handleContractImageUpdated
        - event: DescriptionUpdated(string,string)
          handler: handleDescriptionUpdated
        - event: WebsiteURIUpdated(string,string)
          handler: handleWebsiteURIUpdated
        - event: MetadataUpdate(uint256)
          handler: handleMetadataUpdate
        - event: BatchMetadataUpdate(uint256,uint256)
          handler: handleBatchMetadataUpdate
      file: ./src/metadata.ts
  - kind: ethereum
    name: Auction
    network: {{network}}
    source:
      abi: Auction
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - DAO
        - Auction
        - AuctionBid
        - AuctionConfig
      abis:
        - name: Auction
          file: ./abis/Auction.json
      eventHandlers:
        - event: AuctionCreated(uint256,uint256,uint256)
          handler: handleAuctionCreated
        - event: AuctionSettled(uint256,address,uint256)
          handler: handleAuctionSettled
        - event: AuctionBid(uint256,address,uint256,bool,uint256)
          handler: handleAuctionBid
        - event: DurationUpdated(uint256)
          handler: handleDurationUpdated
        - event: ReservePriceUpdated(uint256)
          handler: handleReservePriceUpdated
        - event: TimeBufferUpdated(uint256)
          handler: handleTimeBufferUpdated
        - event: MinBidIncrementPercentageUpdated(uint256)
          handler: handleMinBidIncrementPercentageUpdated
      file: ./src/auction.ts
